.classPrincipalTable{
    font: size 2.25em;
    background-color: #fcfffb;
}

.formClass{
    background-color: #f4fffb;
}
.formClass .sapUiFormTitle{
    background-color: #cafae9;
}

.classPesca {
    background-color: #C6F9C1; /* rgba(198, 249, 193, 1)*/
}

.classPesca, .colHeader, .classPuerto,
.classPeriodo, .classDsTasa, .classTotales{
    display: block;
    padding: 7px;
}

.classPuerto{
    background-color: rgba(254, 204, 142, 1);
}

.classPeriodo{
    background-color: rgba(255, 152, 140, 1);
}
.classDsTasa{
    background-color: rgba(166, 229, 244, 1);
}
.classTotales{
    background-color: rgba(212, 223, 239, 1);
}

.none{
    background-color: transparent !important ;
    display: block;
    padding: 7px;
}