.classPrincipalTable{
    font: size 2.25em;
    background-color: #fcfffb;
}

.formClass .sapUiFormTitle{
    background-color: rgba(219, 219, 219, 0.253);
}

.formClass{
    background-color: rgba(231, 231, 231, 0.253);
}

.classPesca, .colHeader, .classPuerto,
.classPeriodo, .classDsTasa, .classTotales{
    display: block;
}


/* -------------------------------------------------------------
 *   LOCALHOST
 * -------------------------------------------------------------
 */


 /* Tabla empresa receptora */
/* Columnas Total Pesca */
#container-pcomptproduce---worklist--tableRecep-table td:nth-child(1){
    background-color: #C6F9C1; /* rgba(198, 249, 193, 1)*/
}

/* Columnas resto de totales */
#container-pcomptproduce---worklist--tableRecep-table td:nth-child(2),
#container-pcomptproduce---worklist--tableRecep-table td:nth-child(3),
#container-pcomptproduce---worklist--tableRecep-table td:nth-child(4){
    background-color: rgba(212, 223, 239, 1);
}

#container-pcomptproduce---worklist--tableRecep-table tbody>tr:nth-child(6){
    /* background-color: darkgreen; */
}

/* Columnas  */
#container-pcomptproduce---worklist--tableRecep-table td:nth-child(),
#container-pcomptproduce---worklist--tableRecep-table td:nth-child(){
    background-color: #BAEE9A; /*rgba(255, 128, 115, 1)*/
}

/* Tabla empresa armador */
#container-pcomptproduce---worklist--tableArmad-table td:nth-child(1){
    background-color: rgba(255, 152, 140, 1);
}
#container-pcomptproduce---worklist--tableArmad-table td:nth-child(2){
    background-color: rgba(254, 204, 142, 1);
}
#container-pcomptproduce---worklist--tableArmad-table td:nth-child(3){
    background-color: #C6F9C1; /* rgba(198, 249, 193, 1)*/
}
#container-pcomptproduce---worklist--tableArmad-table td:nth-child(4){
    background-color: rgba(166, 229, 244, 1);
}
#container-pcomptproduce---worklist--tableArmad-table td:nth-child(5),
#container-pcomptproduce---worklist--tableArmad-table td:nth-child(6),
#container-pcomptproduce---worklist--tableArmad-table td:nth-child(7){
    background-color: rgba(212, 223, 239, 1);
}

.classRow{
    background-color: darkblue;
}