.SinColor {
  background: #cde3f2!important
}
.BADVALUE_MEDIUM {
  background: #f5656d!important
}
.CRITICALVALUE_LIGHT {
  background: #ffd28f!important
}
.KEY_MEDIUM {
  background: #a5e1f1!important
}
.POSITIVE {
  background: #89e988!important
}