.classForm{
  background-color: rgba(231, 231, 231, 0.253);
}

/* ----------------------------------------------------------------------------------------------------------------------
*  LOCALHOST
* -----------------------------------------------------------------------------------------------------------------------
*/

#container-pdeclarada---worklist--tablePescaDeclarada-table td:nth-child(5),
#container-pdeclarada---worklist--tablePescaDeclarada-table td:nth-child(6){
  background-color: #ff8073; /*rgba(255, 128, 115, 1)*/
}

#container-pdeclarada---worklist--tablePescaDeclarada-table td:nth-child(7){
  background-color: #c6f9c1  ; /* rgba(198, 249, 193, 1)*/
}

#container-pdeclarada---worklist--tablePescaDeclarada-table td:nth-child(8),
#container-pdeclarada---worklist--tablePescaDeclarada-table td:nth-child(9),
#container-pdeclarada---worklist--tablePescaDeclarada-table td:nth-child(10){
  background-color: #bdcfe9  ; /* rgba(189, 207, 233, 1)*/
}

#container-pdeclarada---worklist--tablePescaDeclarada-table td:nth-child(11),
#container-pdeclarada---worklist--tablePescaDeclarada-table td:nth-child(12){
  background-color: #FDBB71; /* rgba(253, 187, 113, 1) */
}

#container-pdeclarada---worklist--tablePescaDeclarada-table td:nth-child(13),
#container-pdeclarada---worklist--tablePescaDeclarada-table td:nth-child(14){
  background-color: #BAEE9A; /*rgba(186, 238, 154, 1)*/
}

#container-pdeclarada---worklist--tablePescaDeclarada-table td:nth-child(15),
#container-pdeclarada---worklist--tablePescaDeclarada-table td:nth-child(16){
  background-color: #A6E5F4; /* rgba(166, 229, 244, 1) */
}

/* -----------------------------------------------------------------------------------------------------------------------
* LAUNCHPAD
* ------------------------------------------------------------------------------------------------------------------------
*/

#application-pescaDeclarada-display-component---worklist--tablePescaDeclarada-table td:nth-child(5),
#application-pescaDeclarada-display-component---worklist--tablePescaDeclarada-table td:nth-child(6){
  background-color: #ff8073; /*rgba(255, 128, 115, 1)*/
}

#application-pescaDeclarada-display-component---worklist--tablePescaDeclarada-table td:nth-child(7){
  background-color: #c6f9c1  ; /* rgba(198, 249, 193, 1)*/
}

#application-pescaDeclarada-display-component---worklist--tablePescaDeclarada-table td:nth-child(8),
#application-pescaDeclarada-display-component---worklist--tablePescaDeclarada-table td:nth-child(9),
#application-pescaDeclarada-display-component---worklist--tablePescaDeclarada-table td:nth-child(10){
  background-color: #bdcfe9  ; /* rgba(189, 207, 233, 1)*/
}

#application-pescaDeclarada-display-component---worklist--tablePescaDeclarada-table td:nth-child(11),
#application-pescaDeclarada-display-component---worklist--tablePescaDeclarada-table td:nth-child(12){
  background-color: #FDBB71; /* rgba(253, 187, 113, 1) */
}

#application-pescaDeclarada-display-component---worklist--tablePescaDeclarada-table td:nth-child(13),
#application-pescaDeclarada-display-component---worklist--tablePescaDeclarada-table td:nth-child(14){
  background-color: #BAEE9A; /*rgba(186, 238, 154, 1)*/
}

#container-pdeclarada---worklist--tablePescaDeclarada-table td:nth-child(15),
#container-pdeclarada---worklist--tablePescaDeclarada-table td:nth-child(16){
  background-color: #A6E5F4; /* rgba(166, 229, 244, 1) */
}